/*
reset
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*
commom
*/

body{
    font-family: 'Roboto', sans-serif;
}

a{
    color: inherit;
    font-family: inherit;
}

h1{
    font-size: 45px;
    max-width: 60%;
}

h2{
    font-size: 28px;
}

h1,h2{
    margin-bottom: 20px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 18px;
}

h1,h2,h3,h4,p{
    line-height: 1.5;
}

img{
    width: 100%;
}

input{
    margin-bottom: 40px;
}

label{
    font-size: 20px;
    margin-right: 40px;
}

hr{
    width: 30%;
    margin: 40px 0;
}

.flex{
    display: flex;
}

.flex.col3{
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.box{
    border: 1px solid black;
    margin-bottom: 40px;
}

.box .intestazione{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(17, 17, 17);
}

.box .contenuto{
    padding: 20px;
}

.col3 .box{
    width: 31%;
}

.col1 .box{
    width: 100%;
}

.flex.col2{
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn{
    border: none;
    display: inline-block;
    margin: 30px 0;
    background-color: #0061FF;
    color: #fff;
    text-align: center;
    padding: 10px 16px;
}

.btn2{
    background-color: transparent;
    border: 1px solid black;
    color: #000;
}

.box .btn{
    width: 90%;
    margin: 30px auto;
}

section{
    padding: 100px 0;
}

.container{
    margin: 0 auto;
}

.container.big{
    width: 70%;
}

.container.small{
    width: 60%;
}

.col-small{
    width: 30%;
}

.col-medium{
    width: 50%;
}

.col-medium-big{
    width: 60%;
}

.col-big{
    width: 70%;
}

.relative{
    position: relative;
}

.margin-bottom-25{
    margin-bottom: 25px;
}

.margin-bottom-medium{
    margin-bottom: 40px;
}

.link-defoult{
    text-decoration: underline;
    color: blue;
}

.bold{
    font-weight: 500;
}

.check{
    color: #0061FF;
}

/*
header
*/

header{
    height: 10vh;
    padding: 0 10px;
    position: fixed;
    background-color: white;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

header img{
    width: auto;
}

header.flex, header .flex{
    justify-content: space-between;
    align-items: center;
}

header .sinistra > *, header .destra > *{
    margin: 0 15px;
}

header ul.flex li{
    margin: 0 15px;
}

header ul li a{
    line-height: 10vh;
}

header ul li a:hover::after{
    content: '';
    border: 1px solid black;
    display: block;
}

.action a{
    margin-left: 15px;
}

/*
main
*/

main{
    margin-top: 10vh;
}

/*
jumbo
*/

section.jumbo{
    background-color: #B4D0E7;
    padding-bottom: 0;
    padding-top: 20px;
}

section.jumbo i{
    margin-top: 20px;
    font-size: 50px;
}

section .relative{
    top: 50px;
}

/*
prima sezione
*/

.prezzo,.periodo{
    display: block;
}

.prezzo{
    margin: 10px 0;
}

.periodo{
    color: gray;
    font-size: 14px;
}

.prima-sezione ul{
    margin-bottom: -20px;
}

.prima-sezione ul li{
    margin-bottom: 25px;
}

.prima-sezione .contenuto.flex{
    align-items: flex-start;
}

.box .btn.no-m-top{
    margin-top: 0;
    width: 30%;
}

/*
seconda sezione
*/

.partner{
    display: block;
}

/*
terza sezione
*/

.business{
    text-align: center;
}

.business .box{
    border: none;
}
