/*
reset
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*
commom
*/

body{
    font-family: 'Roboto', sans-serif;
}

a{
    color: inherit;
    font-family: inherit;
}

h1{
    font-size: 60px;
    max-width: 60%;
}

h2{
    font-size: 30px;
}

h1,h2{
    margin-bottom: 25px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 18px;
}

h1,h2,h3,h4,p{
    line-height: 1.5;
}

img{
    width: 100%;
    display: block;
}

input{
    margin-bottom: 40px;
}

label{
    font-size: 20px;
    margin-right: 40px;
}

hr{
    width: 30%;
    margin: 40px 0;
}

section{
    padding: 100px 0;
}

footer{
    padding: 50px 0;
    background-color: #000;
}

.flex{
    display: flex;
}

.flex.col3{
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.box{
    border: 1px solid black;
    margin-bottom: 40px;
}

.box .intestazione{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(17, 17, 17);
}

.box .contenuto{
    padding: 20px;
}

.col3 .box{
    width: 31%;
}

.col1 .box{
    width: 100%;
}

.flex.col2{
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn{
    border: none;
    display: inline-block;
    margin: 30px 0;
    background-color: #0061FF;
    color: #fff;
    text-align: center;
    padding: 10px 16px;
    transition: 0.4s;
}

.btn:hover{
    opacity: 0.8;
}

.btn2{
    background-color: transparent;
    border: 1px solid black;
    color: #000;
}

.btn3{
    background-color: #fff;
    padding: 10px 30px;
    color: #000;
}

.box .btn{
    width: 90%;
    margin: 30px auto;
}

.container{
    margin: 0 auto;
}

.container.big{
    width: 1200px;
}

.container.small{
    width: 900px;
}

.col-small{
    width: 30%;
}

.col-medium{
    width: 50%;
}

.col-medium-big{
    width: 60%;
}

.col-big{
    width: 70%;
}

.relative{
    position: relative;
}

.margin-bottom-25{
    margin-bottom: 25px;
}

.margin-bottom-medium{
    margin-bottom: 40px;
}

.margin-destra-small{
    margin-right: 10px;
}

.link-defoult{
    text-decoration: underline;
    color: blue;
}

.bold{
    font-weight: 500;
}

.check{
    color: #0061FF;
}

/*
header
*/

header{
    height: 10vh;
    padding: 0 10px;
    position: fixed;
    background-color: white;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

header img{
    width: auto;
}

header.flex, header .flex{
    justify-content: space-between;
    align-items: center;
}

header .sinistra > *, header .destra > *{
    margin: 0 15px;
}

header ul.flex li{
    margin: 0 15px;
}

header ul li a{
    line-height: 10vh;
}

header ul li a:hover::after{
    content: '';
    border: 1px solid black;
    display: block;
}

.action a{
    margin-left: 15px;
}

/*
main
*/

main{
    margin-top: 10vh;
}

/*
jumbo
*/

section.jumbo{
    background-color: #B4D0E7;
    padding-bottom: 0;
    padding-top: 20px;
}

section.jumbo .container{
    position: relative;
}

section.jumbo i{
    font-size: 50px;
    position: absolute;
    bottom: 60px;
    left: 0;
}

section .relative{
    bottom: -50px;
}

/*
prima sezione
*/

.prezzo,.periodo{
    display: block;
}

.prezzo{
    margin: 10px 0;
}

.periodo{
    color: gray;
    font-size: 14px;
}

.prima-sezione ul{
    margin-bottom: -20px;
}

.prima-sezione ul li{
    margin-bottom: 25px;
}

.prima-sezione .contenuto.flex{
    align-items: flex-start;
}

.box .btn.no-m-top{
    margin-top: 0;
    width: 30%;
}

/*
seconda sezione
*/

.partner{
    display: block;
}

/*
terza sezione
*/

.business{
    text-align: center;
}

.business .box{
    border: none;
}

/*
quarta sezione
*/

.quarta-sezione h2{
    font-size: 35px;
}

/*
quinta sezione
*/

section.quinta-sezione{
    padding: 0;
}

.quinta-sezione > div{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.griglia-1x{
    background-color: rgb(244, 242, 242);
    padding: 40px 40px 140px 40px;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
}

.griglia-1x .container.big{
    width: 90%;
}

.griglia-1x img{
    width: 60%;
}

.griglia-1x hr{
    margin: 25px 0;
}

.griglia-4x img{
    width: 50%;
    filter: invert(1);
}

.griglia-4x.flex{
    flex-wrap: wrap;
}

.griglia-4x div{
    width: 50%;
    height: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* colori/bordi immagini */

.img1{
    border: 15px solid #D1E9CD;
    background-color: #A2D39B;
}

.img2{
    background-color: #61082B;
}

.img3{
    background-color: #0093CE;
}

.img4{
    background-color: #FF1C1C;
}

.img5{
    background-color: #D5001F;
}

.img6{
    background-color: #B4D0E7;
}

.img7{
    background-color: #0D2481;
}

.img8{
    background-color: #FFD830;
}

/*
sesta sezione
*/

.sesta-sezione{
    background-color: #B4D0E7;
}

.sesta-sezione h2{
    font-size: 35px;
}

/*
domande frequenti
*/

.domande .container.small > div{
    border-bottom: 1px solid black;
    padding: 30px 10px 30px 0;
}

.testo span{
    font-weight: bold;
    font-size: 18px;
    width: 80%;
}

.border-top{
    border-top: 1px solid black;
}

.domande .container.small > div:hover .paragrafo{
    padding: 20px 0 5px 0;
    display: block;
}

.domande .container.small > div:hover .testo::after{
    content: '\25B2';
}

.testo{
    justify-content: space-between;
    align-items: center;
}

.testo::after{
    content: '\25BC';
    font-size: 18px;
}

.paragrafo{
    display: none;
}

/*
footer
*/